*{
	padding: 0;
	margin: 0;
}

body{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid red;
	padding: auto;
	width: 600px;
	height: auto;
}
header{
	margin: auto;
	border-bottom: 3px solid red;
	width: auto;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color:  gray;
}

#content{
	border-top: 1px solid red;
	width: auto;
	height: 510px;
	border-bottom: 3px solid red;
}
#left{
	float: left;
	border-right: 2px solid red;
	width: 150px;
	height: 510px;
	line-height: 510px;
	text-align: center;
	background-color: gray;
}

#center{
	float: left;
	border-right: 2px solid red;
	width: 300px;
	height: 510px;
	text-align: center;
}
p.pre-post{
	border-bottom: 2px solid red;
	height: 100px;
	line-height: 100px;
	background-color: gray;
}
p.body{
	border-bottom: 1px solid red;
	height: 307px;
	line-height: 307px;
}

#right{
	float: left;
	width: 146px;
	height: 510px;
	line-height: 510px;
	text-align: center;
	background-color: gray;
}

footer{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: gray;
}






